*
!.devcontainer
!.devcontainer/devcontainer.json
!.dockerignore
!.gitignore
!LICENSE
!README.md

# build tools
!Dockerfile
!Makefile

# poetry
!poetry.lock
!pyproject.toml

# projects
!projects
!projects/**/
!projects/**/*.sql
